@use "./_partials/header.scss";
@use "./_partials/main.scss";
@use "./_partials/main-home.scss";
@use "./_partials/main-ventas.scss";
@use "./_partials/main-alquier.scss";
@use "./_partials/aside-ventas.scss";
@use "./_partials/main-checkout.scss";
@use "./_partials/main-contenedor.scss";
@use "./_partials/main-clientes.scss";
@use "./_partials/detalle-cliente.scss";
@use "./_partials/main-editarCliente.scss";
@use "./_partials/main-detalleContenedor.scss";
@use "./_partials/main-edicionContenedor.scss";
@use "./_partials/main-transacciones.scss";
@use "./_partials/main-detalleTransacciones.scss";
@use "./_partials/main-stock.scss";
@use "./_partials/main-detalleStock.scss";
@use "./_partials/main-creacionProd.scss";
@use "./_partials/main-renovacionAlquiler.scss";
@use "./_partials/main-edicionAlquier.scss";
@use "./_partials/login.scss";