@use "./_partials/header.scss";
@use "./_partials/main.scss";
@use "./_partials/main-home.scss";
@use "./_partials/main-ventas.scss";
@use "./_partials/main-alquier.scss";
@use "./_partials/aside-ventas.scss";
@use "./_partials/main-checkout.scss";
@use "./_partials/main-contenedor.scss";
