@use "../variables.scss" as *;

/* CONTENEDOR GENERAL */
#stock-home {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

.stock-panel {
    background: $bg-card;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .45);
    border: $color-border;
}

.stock-panel--wide {
    max-width: 1300px;
    width: 100%;
    padding: 40px 50px;
    border: $color-border;
}

/* HEADER */
.detalle-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $blanco;
    margin: 0;
}

.detalle-header p {
    color: $text-muted;
    margin-top: 6px;
}

/* GRID */
.detalle-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.detalle-box {
    background: #0b1120;
    padding: 24px 28px;
    border-radius: 12px;
    border: 1px solid rgba(148, 163, 184, 0.2);

    h2 {
        font-size: 1.35rem;
        font-weight: 600;
        color: $blanco;
        border-bottom: 1px solid $text-muted;
        padding-bottom: 4px;
    }

    p {
        color: $text-main;
        margin: 6px 0;

        strong {
            color: $blanco;
        }
    }
}

.detalle-box--full {
    grid-column: span 2;
}

/* FOOTER */
.detalle-footer {
    margin-top: 20px;
    text-align: right;
    color: $text-muted;
}

/* ACCIONES */
.detalle-actions {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.btn-eliminar {
    padding: 0.7rem 1.7rem;
    border-radius: 8px;
    background: #dc2626;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: 0.2s ease;

    &:hover {
        background: darken(#dc2626, 10%);
        transform: scale(1.03);
    }
}
