@use "../_variables.scss" as *;

/* -------------------------------------------------------------------------- */
/*                                  RESET                                     */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: $bg-page;
  color: $text-main;
}

/* -------------------------------------------------------------------------- */
/*                                MENÚ (CARDS)                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                          ALQUILERES (TABLA DARK)                          */
/* -------------------------------------------------------------------------- */
